fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

label {
    cursor: pointer;
}

legend {
    font-size: 22px;
}

input {
    font-size: 16px;    
}

input[type=search] {
    padding: 0.5em;
}